@model Planscam.Entities.Subscription

@{
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mansur and 1 father who went for bread 19 years ago</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="~/css/form.css" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
    <link href="~/css/playlist.css" rel="stylesheet">
    <script src="~/jsFiles/custom-select.js"></script>
    <script src="~/jsFiles/form.js"></script>
    <script src="~/jsFiles/inputs.js"></script>
    <script src="~/jsFiles/playlist.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>

<body>
    <div class="background"></div>
    <div class="formWindowContainer">
        <form class="formWindow" asp-controller="Subscriptions" asp-action="BuySub">
            Subscribe "@Model.Name" for @Model.Duration for @Model.Price$?
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Yes" />
            <input type="reset" value="No" onclick="window.close()" />
        </form>
    </div>
</body>