@using Planscam.Extensions
@model Planscam.Models.HomePageViewModel
@{
    Layout = "";
}

<div class="mainPage">
    <div class="popularPlaylists">
        <span class="mainSpan">Popular playlists</span>
        <div class="popularPlaylistsListContainer">
            <div class="popularPlaylistsList">
                @foreach (var playlist in Model.BestPlaylists)
                {
                    <div class="popularPlaylist">
                        <div class="popularPlaylistContainer">
                            @Html.DrawSmallPlaylistPic(@playlist.Picture, "popularPlaylistImg")
                            <div class="popularPlaylistBtns">
                                @if(playlist.IsLiked == true)
                                {
                                    <i onclick="likePlaylistHome(@playlist.Id)" style="font-size: 30px;"
                                class="popularPlaylistBtn fi fi-sr-heart"></i>
                                }
                                else
                                {                                
                                    <i onclick="likePlaylistHome(@playlist.Id)" style="font-size: 30px;"
                                class="popularPlaylistBtn fi fi-rr-heart"></i>
                                }
                                <i onclick="playPlaylist(@playlist.Id)" style="font-size: 45px;"
                                class="popularPlaylistBtn fi fi-rr-play"></i>
                                <i onclick="loadPage(`Playlists/Index/${@playlist.Id}`)" style="font-size: 28px;"
                                class="popularPlaylistBtn fi fi-rr-indent"></i>
                            </div>
                        </div>
                        <span onclick="loadPage(`Playlists/Index/${@playlist.Id}`)" class="popularPlaylistSpan">
                            @playlist.Name
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="subscriptionsContainer">
        <span class="mainSpan">Support atrists and get premium</span>
        <div class="subscriptions">
            @foreach (var subscription in Model.Subscriptions)
            {
                <div class="subscription">
                    <div class="subscriptionInfo">
                        <span>
                            @subscription.Name
                        </span>
                        <span>
                            For @subscription.Duration
                        </span>
                    </div>
                    <div class="subscribeBtnContainer">
                        <span class="subscribeBtn" onclick="{
                                var winForm = window.open(`${window.location.origin}/Subscriptions/PaymentEmulator/@(subscription.Id)`,'','scrollbars=1');
                                winForm.resizeTo(500,450);
                            }">Subscribe for @string.Format("{0:F2}", subscription.Price)$</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div b-4rrdvvqhni="" class="line glowing2 bcolor2">⠀</div>
    <div class="popularTracks">
        <span class="mainSpan">User's choice</span>
        <div class="trackListContainer">
            @await Html.PartialAsync("TrackListCustom", Model.BestTracks)
        </div>
    </div>
</div>